<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['hide,avi,meredith', gon.graph_name],
          [ gon.data1bronx, gon.data2bronx],
          [ gon.data1brooklyn, gon.data2brooklyn],
          [ gon.data1manhattan, gon.data2manhattan],
          [ gon.data1queens, gon.data2queens],
          [ gon.data1staten, gon.data2staten],
        ]);

        var options = {
          hAxis: {minValue: 0, maxValue: 15},
          vAxis: {minValue: 0, maxValue: 15},
          chartArea: {width:'50%'},
          trendlines: {
            0: {
              type: 'linear',
              showR2: true,
              visibleInLegend: true
            }
          }
        };

        var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
        chartLinear.draw(data, options);

        // options.trendlines[0].type = 'exponential';
        // options.colors = ['#6F9654'];

        // var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential'));
        // chartExponential.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chartLinear" style="height: 350px; width: 800px"></div>
    <!-- <div id="chartExponential" style="height: 350px; width: 800px"></div> -->
  </body>
</html>