<h1>Labor force</h1>
<table>
<tr>
<th>Borough Id</th>
<th>Labor Force</th>
<th>Flu Centers</th>
</tr>
<% boroughs.each do |borough|%>
<tr>
<td><%=borough.name%></td>
<td><%= borough.send(data_set1,normalizer) %></td>
<td><%= borough.send(data_set2,normalizer)%></td>
</tr>

<%end%>
</table>