<h1>How does x correlate with y?</h1>
<p>
Our site simple takes in different data sets and allows you to compare them to each other to check for correlation. We hope you enjoy looking through this data as much as we do, but please remember that CORRELATION DOES NOT MEAN CAUSATION!
</p>
<!-- Start drop down menus here -->
<%= render partial: 'comparisons/drop_down.html.erb' %>
<!-- End drop down menus-->

<%= render partial: 'boroughs/links.html.erb' %>