
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">How does x correlate with y?</h2>
                    <hr class="primary">
                    <p>Our site simple takes in different data sets and allows you to compare them to each other to check for correlation. We hope you enjoy looking through this data as much as we do, but please remember that CORRELATION DOES NOT MEAN CAUSATION!</p>
                </div>
            </div>
        </div>
    </section>
<center>
<!-- Start drop down menus -->
<%= render partial: 'comparisons/drop_down.html.erb' %>
<!-- End drop down menus-->

<!-- Start search bar -->
<p>
<%= render partial: 'search/bar.html.erb' %>
<!-- End search bar -->
</p>

<!-- Start links to each borough's show page -->
<p>
<%= render partial: 'boroughs/links.html.erb' %>
</p>
<!-- End links to each borough's show page -->
</center>


