<% if !@search_result.empty? %>
  <% @search_result.each do |result| %>
  <p><%= link_to result.name, "/#{result.class}s/#{result.id}" %></p>
  <% end %>
<% else %>
  Your search did not match any results.
<% end %>