<% if !@search_result.empty?  %>
  <% @search_result.each do |result| %>
    <p><%= link_to result.name, "/#{result.class.to_s.downcase.pluralize}/#{result.id}" %></p>
    <% end %>
<% else %>
Your search matched no results. 
<% end %>
