<ul>
  <% user.send(resource_name).each do |resource| %>
    <li>
      <%= link_to resource.name, resource %>
      <% favorite = Favorite.where(user_id:user.id, favoritable_id:resource.id, favoritable_type:resource.class)[0] %>

      <%= link_to "Delete", favorite, method: :delete %>

    </li>
  <% end %>
</ul>
