<p><h1>District</h1></p>
<p>
  <h2>Number: <%= @district.number %></h2>
  <h2>Attendance: <%= @district.attendance %></h2>
</p>
<h3>Borough: <%= @district.borough.name %></h3>


<%= render partial: 'favorites/add_favorite.html.erb', locals: {location: @district}%>