

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-10"><h2><center>The Five Boroughs</center></h2></div>

  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <% Borough.all.each do |borough|%>
    <div class="col-md-2">
      <h3><%= link_to borough.name, borough %></h3>
    </div>
  <% end %>
  <div class="col-md-1"></div>
</div>